<div class="container-fluid align-center green-background">
    <footer class="row row-cols-5 p-5 border-top">

        <div class="col">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <img src="{{data.brandUrlIcon}}" alt="">
                <h5>{{data.brandName}}</h5>
            </a>
        </div>




        <div class="col">
            <h5>About</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Careers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Investor Relations</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Legal Notices</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Privacy Notices</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Security Information</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Trust Center</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Support</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Contact Us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Customer Portal</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Atlas Status</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Paid Support</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Social</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted"><i
                            class="fa-brands p-2 fa-github"></i>Github</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted"><i
                            class="fa-brands p-2 fa-stack-overflow"></i>Stack Overflow</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted"><i
                            class="fa-brands p-2 fa-linkedin"></i>Linkedin</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted"><i
                            class="fa-brands p-2 fa-youtube"></i>YouTube</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted"><i
                            class="fa-brands p-2 fa-twitter"></i>Twitter</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted"><i
                            class="fa-brands p-2 fa-twitch"></i>Twitch</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted"><i
                            class="fa-brands p-2 fa-facebook"></i>Facebook</a></li>
            </ul>
        </div>

    </footer>
    <p class="p-4">@ 2022 MongoDB, Inc</p>
</div>