<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid p-3">

        <a class="navbar-brand" href="#">
            <img src="{{data.brandUrlIcon}}" alt="">
            {{data.brandName}}</a>



        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown p-2">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/atlas">Atlas</a></li>
                        <li><a class="dropdown-item" href="#">Enterprise Advanced</a></li>
                        <li><a class="dropdown-item" href="#">Community Edition</a></li>
                        <li><a class="dropdown-item" href="#">Tools</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown p-2">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Solutions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/industry">By Industry</a></li>
                        <li><a class="dropdown-item" href="#">By Use Case</a></li>
                        <li><a class="dropdown-item" href="#">Customer Stories</a></li>
                        <li><a class="dropdown-item" href="#">White Papers and Presentation</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown p-2">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/documentary">Documentation</a></li>
                        <li><a class="dropdown-item" href="/community">Community</a></li>
                        <li><a class="dropdown-item" href="/education">Education</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown p-2">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Company
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/about">About</a></li>
                        <li><a class="dropdown-item" href="/services">Services</a></li>
                        <li><a class="dropdown-item" href="/partnerships">Partnerships</a></li>
                    </ul>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" href="/price">Pricing</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-success m-2 btn-lg">Sign in</button>
                <button class="btn btn-outline-success m-2 btn-lg" type="submit">Try Free</button>
            </form>
        </div>
    </div>
</nav>