<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-light bg-success text-center p-2">
                <div class="col">
                    <button class="btn btn-outline-light">{{data.button}}</button>
                    <p>{{data.news}}</p>
                </div>

            </div>
        </div>
    </div>
</section>